html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,
em,font,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,i,
dl,dt,dd,ul,ol,li,fieldset,
form,input,textarea,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
}

.jaring-map-container{
	background:url(../img/grid.png);
}
.jaring-map-platform{
	position: absolute;
}
.jaring-tile{
	position:absolute;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	visibility: hidden;

	opacity: 0;

	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.jaring-tile-loaded{
	opacity: 1;
	visibility: inherit;
}